.Login{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.2vh;
}
p{
    margin-bottom: 4vh;
}
.form-group{
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
}
.form-group input{
    width: 15vh;
    height: 2vh;
}
.form-group{
    flex: 1;
}
.submit{
    font-size: 2.2vh;
    width: max-content;
    margin-top: 2vh;
}