body{
    background-color: lightgray;
}
.contenedor{
    text-align: center;
}
h1{
    text-align: center;
}
.registerForm{
    align-items: center;
    width: 32vh;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    background-color: gray;
    border-radius: 2vh;
    box-shadow: -10px 10px 20px;
    margin-bottom: 5vh;
}
.message{
    text-align: center;
    margin-top: 20px;
}
